@use "../scss/" as *;
.signinfull{
    display: grid;
   background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("https://images3.alphacoders.com/690/thumb-1920-690865.jpg");
    // background-repeat: no-repeat;
    place-items: center;
    height: 100vh;
}
.signin_body{
    background-color: rgba(255, 255, 255, .15);  
 backdrop-filter: blur(5px);

    display: flex;
    flex-direction: column;
    height: 60vh;
    width:30vw;
    align-items: center;
    @include mobile {
        width: 85vw;
       
      }
}
.logo_sign{
    margin-top: 100px;
     color: rgba(255, 255, 255, 0.90); 
     font-size: 2.5rem;
  font-weight: 600;
}
.signbutton{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
